<html ng-app="locationrisk">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/jquery-ui.structure.min.css" rel="stylesheet">
<link href="css/jquery-ui.theme.min.css" rel="stylesheet">	
<link href="css/dashboard.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/ol.css" type="text/css">
<title>R3 Analysis</title>
</head>
<body ng-controller="LocationRiskController">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header" style="float: none";>
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#" style="font-size: 18px;">Location Risk</a></li>
						<li><a href="route.html" style="font-size: 18px;">Route
								Risk</a></li>
						<!--<li><a href="#">Risk Analysis</a></li>-->
						<li><a href="#" style="font-size: 18px;">Help</a></li>
					</ul>
					<a class="navbar-brand"
						style="padding: 0px; padding-top: 0.7%; padding-left: 12%; font-size: 26px;">
						Crude Oil by Rail Risk Assessment(CBR-Risk)</a>
				</div>

			</div>
			<div id="navbar" class="navbar-collapse collapse"></div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 sidebar transition" id="formdiv">
				<form name="test" action="#" class="form-horizontal">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">
							<h4>Location search</h4>
						</legend>
						<div class="form-group">
							<label for="noOfCars" class="col-sm-4 control-label">Search
								address</label>
							<div class="col-sm-8">
								<input type="text" id="searchloc"
									class="controls address-input animate-show"
									placeholder="Search for local address...">
							</div>
						</div>
					</fieldset>
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">
							<h4>Train</h4>
						</legend>
						<div class="form-group">
							<label for="annualTrainUnits" class="col-sm-6">Annual
								number of crude oil unit trains</label>
							<div class="col-sm-6">
								<input type="text" class="controls address-input"
									id="annualTrainUnits" ng-model="annualTrainUnits"
									placeholder="Annual number of crude oil unit trains...">
							</div>
						</div>
						<div class="form-group">
							<label for="noOfCars" class="col-sm-6">Number of tank
								cars per unit train</label>
							<div class="col-sm-6">
								<input type="text" class="controls address-input" id="noOfCars"
									ng-model="noOfCars" placeholder="No of cars...">
							</div>
						</div>
						<div class="form-group">
							<label for="trainspeed" class="col-sm-6">Train speed
								(mph)</label>
							<div class="col-sm-6">
								<input type="text" class="controls address-input"
									id="trainspeed" ng-model="trainSpeed"
									placeholder="Train speed...">
							</div>
						</div>
						<div class="form-group">
							<label for="cardesign" class="col-sm-6">Tank car design</label>
							<div class="col-sm-6">
								<select class="controls address-input" id="cardesign"
									name="cardesign" ng-model="tankCarDesign"
									ng-options="c.name for c in tankCarDesigns"
									placeholder="Tank Car Design..">
								</select>
							</div>
						</div>
					</fieldset>

				</form>
				<div id="footer1">
					<img src="js/img/Rutgers_logotype.gif"
						style="display: inline-block; width: inherit; height: 10%; padding: 0px"
						alt="" />
					<!--<img src="js/img/Rutgers25.png"  />-->
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3"
				id="mapdiv">
				<div class="row">
					<div class="vsplitbar " unselectable="on" ng-click="toggleDiv()">
						<span id="directionIcon" class="glyphicon glyphicon-backward"
							style="position: relative; top: 50%; left: 20%"
							aria-hidden="true"></span>
					</div>
					<div class="map-wrapper">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div id="dialog" title="Annual Segment Risk" >
				<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered fontupdate">
						<tbody>
							<tr>
								<td><b>Annual release risk </br>(number of affected persons)
								</b></td>
								<td style="width: 65px;"><b><span id="riskcontent"></span></b></td>
							</tr>
							<tr>
								<td><b>Interval (years) between release incidents</b></td>
								<td style="width: 65px;"><b><span id="intervalcontent"></span></b></td>
							</tr>
							<tr>
								<td><b>Segment miles</b></td>
								<td style="width: 65px;"><b><span id="segmentlength"></span></b></td>
							</tr>
							<tr>
								<td><b>Within evacuation Zone</b></td>
								<td style="width: 65px;"><b><span
										id="evacuationRequired"></span></b></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
	</div>




<!-- 	<div id="popup" class="ol-popup"> -->
<!-- 		<a href="#" id="popup-closer" class="ol-popup-closer"></a> -->
<!-- 		<div id="popup-content"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-12"> -->
<!-- 					<h4 style="font-size: 12px; font-weight: bold">Annual Segment -->
<!-- 						Risk</h4> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-12"> -->
<!-- 					<table class="table table-bordered fontupdate"> -->
<!-- 						<tbody> -->
<!-- 							<tr> -->
<!-- 								<td><b>Annual release risk </br>(number of affected persons) -->
<!-- 								</b></td> -->
<!-- 								<td style="width: 65px;"><b><span id="riskcontent"></span></b></td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td><b>Interval (years) between release incidents</b></td> -->
<!-- 								<td style="width: 65px;"><b><span id="intervalcontent"></span></b></td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td><b>Segment miles</b></td> -->
<!-- 								<td style="width: 65px;"><b><span id="segmentlength"></span></b></td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td><b>Within evacuation Zone</b></td> -->
<!-- 								<td style="width: 65px;"><b><span -->
<!-- 										id="evacuationRequired"></span></b></td> -->
<!-- 							</tr> -->
<!-- 						</tbody> -->
<!-- 					</table> -->
<!-- 				</div> -->

<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<!-- <ul class="list-group"> -->
	<!-- 						<li class="list-group-item"><b>Annual release risk : &nbsp;&nbsp;&nbsp; <span id="riskcontent"></span> </br> (number of affected persons)</b></li> -->
	<!-- 						<li class="list-group-item"><b>Interval (year) between release incidents: <span -->
	<!-- 								id="intervalcontent"></span></b></li> -->
	<!-- 						<li class="list-group-item"><b>Segment miles:<span -->
	<!-- 								id="segmentlength"></span></b></li> -->
	<!-- 					</ul> -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
					<script src="js/jquery-ui.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/doc.min.js"></script>
	<script src="js/ol-beta.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/locationrisk.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
</body>
</html>