<html ng-app="routerisk">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/ng-grid.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="css/ol.css" type="text/css">
<link href="css/style.css" rel="stylesheet">
<title>R3 Analysis</title>
</head>
<body ng-controller="RouteRiskController">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header" style="float: none">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="index.html" style="font-size: 18px;">Location
								Risk</a></li>
						<li><a href="#" style="font-size: 18px;">Route Risk</a></li>
						<!--<li><a href="#">Risk Communication</a></li>-->
						<li><a href="#feedback" data-toggle="modal" style="font-size: 18px;">Feedback</a></li>
					</ul>
					<a class="navbar-brand"
						style="padding: 0px; padding-top: 0.7%; padding-left: 12%; font-size: 20px;">
						Crude Oil by Rail Risk Assessment (CBR-Risk) <span class="font-sm"><i>Preliminary and subject to change</i></span></a> <!-- &#0153;  -->
				</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse"></div>
		</div>
	</nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 sidebar transition" id="formdiv">
				<form name="test" action="#" class="form-horizontal">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">
							<h4>Route Risk</h4>
						</legend>
						<div class="form-group form-group-sm" ng-repeat="node in nodeNames"
							ng-show="node.visible">
							<label for="{{node.displayName}}" class="col-sm-4">{{node.displayName}}</label>
							<div class="col-sm-8 input-group input-group-sm">
								<input id="{{node.id}}"
									class="form-control" type="text"
									placeholder="Enter a location">
								<div class="input-group-btn" ng-show="node.showcross">
								<button class="btn btn-warning" ng-click="closeStation(node,$index)" type="button">X</button>
								</div> 
<!-- 								controls address-input animate-show -->
							</div>
						</div>
					</fieldset>
					<button type="button" class="btn btn-success"
						ng-click="addStation()" ng-disabled="showloader">Add En-route station</button>
					<button type="button" class="btn btn-primary"
						ng-click="clearStations()" ng-disabled="showloader">Clear</button>
					<!-- <div class="form-group form-group-sm">
						<label for="deststation">Destination</label>
						<div>
							<input id="destination" class="controls address-input" type="text" placeholder="Enter a location">
						</div>
					</div> -->

					<fieldset class="scheduler-border"
						style="margin-top: 20px !important">
						<legend class="scheduler-border">
							<h4>Train</h4>
						</legend>
						<div class="form-group form-group-sm">
							<label for="annualTrainUnits" class="col-sm-6">Annual
								number of crude oil unit trains</label>
							<div class="col-sm-6">
								<input type="text" class="form-control"
									id="annualTrainUnits" ng-model="annualTrainUnits"
									placeholder="Annual number of crude oil unit trains...">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="noOfCars" class="col-sm-6">Number of tank
								cars per unit train</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="noOfCars"
									ng-model="noOfCars" placeholder="No of cars...">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="trainspeed" class="col-sm-6">Train speed
								(mph)</label>
							<div class="col-sm-6">
								<input type="text" class="form-control"
									id="trainspeed" ng-model="trainSpeed"
									placeholder="Train speed...">
							</div>
						</div>
						<div class="form-group form-group-sm" ng-hide="tankCarDesignSplit">
							<label for="cardesign" class="col-sm-6">Tank car design</label>
							
								<div class="col-sm-6 input-group input-group-sm">
								<select class="form-control" id="cardesign"
									name="cardesign" ng-model="tankCarDesign"
									ng-options="c.name for c in tankCarDesigns"
									placeholder="Tank Car Design..">
								</select>
								<div class="input-group-btn" >
								<button class="btn btn-success" ng-click="toggleCarDesign()" type="button">
								<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
								</button>
								</div> 
							</div>
							

						</div>
						<fieldset class="scheduler-border"
						style="margin-top: 20px !important" ng-show="tankCarDesignSplit">
						<legend class="scheduler-border">
							<h4>Number of tank cars by design</h4>
						</legend>
						<div class="form-group form-group-sm"  ng-repeat="c in tankCarDesigns" ng-hide="minimizetankCarDesignSplit">
							<label for="tankdesign" class="col-sm-6">{{c.name}}</label>
							<div class="col-sm-6">
								<input type="text" class="form-control"
									id="traindesign{{$index}}" ng-model="c.carCount"
									placeholder="TrainCount">
							</div>
						</div>
						<button type="button" class="btn btn-primary btn-sm"
						ng-click="minimizeCarDesignSplit()" ng-disabled="showloader">{{minimizetankCarDesignSplit ? 'Maximize':'Minimize'}}</button>
						<button type="button" class="btn btn-primary btn-sm"
						ng-click="toggleCarDesign()" ng-disabled="showloader">Cancel</button>
						</fieldset>
						
					</fieldset>
					<button type="button" class="btn btn-success"
						ng-click="calculateRisk()" ng-disabled="showloader">Calculate Total Risk</button>
					<button type="button" class="btn btn-primary"
						ng-click="clearAll()" ng-disabled="showloader">Clear All</button>
					<img alt="calculating route..." src="js/img/ajax-loader.gif" ng-show="showloader">
				</form>
				<div class="row" style = "color:red">
					<p style="font-size: 17px;">
					Note: </p>
					<ul>
					<li>
					All the risk values presented herein are hypothetical and illustrative only, due to proprietary information regarding railroad infrastructure characteristics.
					</li>
					<li>
					The shortest-distance route was selected between the origin and destination due to lack of information on actual hazmat routes. 
					</li>
					</ul>
				</div>
				<div class="row" style= "">
				<p style = "color:black;font-size: 17px;">Contact Info: </p>
					<ul style="list-style:none">
					<li><b>Xiang Liu, Ph.D.,</b></li>
					<li>Assistant Professor</li>
					<li>Department of Civil and Environmental Engineering, Rutgers University </li>
					<li>Email: xiang.liu@rutgers.edu </li>
					<li>Phone: (848)445-2868</li>
					</ul>			
				</div>
				<div id="footer1">
					<img src="js/img/Rutgers_logotype.gif"
						style="z-index: -10000; display: inline-block;  height: 150px; width:250px;  padding: 50px 0px 0px"
						alt="" />
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3"
				id="mapdiv">
				<div class="row">
					<div class="vsplitbar" unselectable="on" ng-click="toggleDiv()">
						<span id="directionIcon" class="glyphicon glyphicon-backward"
							style="position: relative; top: 50%; left: 20%"
							aria-hidden="true"></span>
					</div>
					<div class="map-wrapper map-wrapper-route">
						<div id=map></div>
					</div>
					<div class="hsplitbar " unselectable="on"
						ng-click="toggleInfoDiv()">
						<b style="position: relative; top: 2%;">Segment Specific Risk
							Information</b> <span id="hdirectionIcon"
							class="glyphicon glyphicon-menu-up"
							style="position: relative; top: 20%;" aria-hidden="true"></span>
					</div>
					<div class="row info" id="InfoDiv">
<!-- 						<table class="table table-bordered fontupdate"> -->
<!-- 							<thead> -->
<!-- 								<tr> -->
<!-- 									<td>FRAARCID</td> -->
<!-- 									<td>State</td> -->
<!-- 									<td>Signal</td> -->
<!-- 									<td>Sub-Division</td> -->
<!-- 									<td>Track Owner</td> -->
<!-- 									<td>Segment Mileage</td> -->
<!-- 									<td>Population Density per Sq.Mile</td> -->
<!-- 									<td>Annual Segment Risk</td> -->
<!-- 									<td>Interval Between Years</td> -->
<!-- 								</tr> -->
<!-- 							</thead> -->
<!-- 							<tbody id="routeInfoBody"> -->
<!-- 								<tr ng-repeat="data in routeInfo" ng-click="routeInfoClick($index)"> -->
<!-- 									<td>{{data.fraarcid}}</td> -->
<!-- 									<td>{{data.stateab}}</td> -->
<!-- 									<td>{{data.sigsys}}</td> -->
<!-- 									<td>{{data.subdiv}}</td> -->
<!-- 									<td>{{data.rrowner}}</td> -->
<!-- 									<td>{{data.miles}}</td> -->
<!-- 									<td>{{data.densitypermile}}</td> -->
<!-- 									<td>{{data.segmentrisk}}</td> -->
<!-- 									<td>{{data.releaseInterval}}</td> -->
<!-- 								</tr> -->
<!-- 							</tbody> -->
<!-- 						</table> -->

					<div class="gridStyle" ng-grid="gridOptions"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="feedback" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">We appreciate your feedback</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal col-sm-12" name="feedbackForm">
          <div class="form-group">
          <label>Name</label>
          <input class="form-control required" placeholder="Your name" type="text"  ng-model="username" required>
          </div>
          <div class="form-group">
          <label>Company/Organization (Optional)</label>
          <input class="form-control required" placeholder="Company Name/Organization Name" type="text" ng-model="orgname" required>
          </div>
          <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" placeholder="Your message here.."  data-trigger="manual"  ng-model="message" required></textarea>
          </div>
          <div class="form-group">
          <label>E-Mail</label>
          <input class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top"  type="text"
          ng-model="senderemail" required>
          </div>
          <div class="form-group">
          <label>Phone</label>
          <input class="form-control phone" placeholder="999-999-9999"  type="text"
          ng-model="phone">
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-success pull-right" ng-click="submitFeedback()" >Send It!</button> <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      	<span style="align:left">
      		<button class="btn" data-dismiss="modal" aria-hidden="true" id="feedbackCancel">Cancel</button>
      </div>
    </div>
  </div>
</div>

		<div id="segInfo" title="Segment Risk Info">
				<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered fontupdate">
						<tbody>
							<tr>
								<td><b>Annual release risk </br>(number of affected persons)
								</b></td>
								<td style="width: 85px;"><b><span id="segriskcontent"></span></b></td>
							</tr>
							<tr>
								<td><b>Interval (years) between release incidents</b></td>
								<td style="width: 85px;"><b><span id="segintervalcontent"></span></b></td>
							</tr>
							<tr>
								<td><b>Segment miles</b></td>
								<td style="width: 85px;"><b><span id="segmentlength"></span></b></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	

	<div id="dialog" title="Annual Route Risk">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered fontupdate">
					<tbody>
						<tr>
							<td style="width: 215px;"><b>Annual release risk </br>(number of affected persons)
							</b></td>
							<td style="width: 85px;"><b><span id="riskcontent"></span></b></td>
						</tr>
						<tr>
							<td style="width: 215px;"><b>Interval (years) between release incidents</b></td>
							<td style="width: 85px;"><b><span id="intervalcontent"></span></b></td>
						</tr>
						<tr>
							<td style="width: 215px;"><b>Route miles</b></td>
							<td style="width: 85px;"><b><span id="routeLength"></span></b></td>
						</tr>
						
						<tr>
						<td colspan="2">				<b>
					Segments in <span style="color:red">Red</span> account for 80% of risk. </br> <span style="color:red; font-size:30px; text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;</span> High Risk Location
					</b></td>
						</tr>
						
					</tbody>
				</table>
	
			</div>

		</div>
	</div>
	</div>
	



	<!-- 	<div id="popup" class="ol-popup"> -->
	<!-- 		<a href="#" id="popup-closer" class="ol-popup-closer"></a> -->
	<!-- 		<div id="popup-content"> -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col-md-12"> -->
	<!-- 					<h4>Annual Route Risk</h4> -->
	<!-- 				</div> -->
	<!-- 			</div> -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col-md-12"> -->
	<!-- 					<table class="table table-bordered fontupdate"> -->
	<!-- 						<tbody> -->
	<!-- 							<tr> -->
	<!-- 								<td><b>Annual release risk </br>(number of affected persons) -->
	<!-- 								</b></td> -->
	<!-- 								<td style="width: 65px;"><b><span id="riskcontent"></span></b></td> -->
	<!-- 							</tr> -->
	<!-- 							<tr> -->
	<!-- 								<td><b>Interval (years) between release incidents</b></td> -->
	<!-- 								<td style="width: 65px;"><b><span id="intervalcontent"></span></b></td> -->
	<!-- 							</tr> -->
	<!-- 							<tr> -->
	<!-- 								<td><b>Segment miles</b></td> -->
	<!-- 								<td style="width: 65px;"><b><span id="routeLength"></span></b></td> -->
	<!-- 							</tr> -->
	<!-- 						</tbody> -->
	<!-- 					</table> -->
	<!-- 				</div> -->

	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.dialogextend.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/doc.min.js"></script>
	<script src="js/ol-beta.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ng-grid.js"></script>
	<script type="text/javascript" src="js/routerisk.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
	<!-- <script src="js/test.js"></script> -->
</body>
</html>
